$header-font-family__primary:'Corben', serif;
$header-font-color__primary:#ebebeb;
$global-color__white:rgb(255, 255, 255);
$global-color__white-opacity:rgb(255, 255, 255, 1);
$font-color__pin:rgb(51, 51, 80);
$font-color__pin-opacity:rgb(51, 51, 80, 0.8);
$top-section-pin-background__dark-opacity:rgb(37, 37, 48, 0.8);
$top-section-pin-background__dark:rgb(37, 37, 48);
$top-section-pin-background__lite-opacity:rgb(255, 255, 255,0.8);
$radius:1em;